<html>
<nav class="flex flex-col gap-2">
  <a routerLink="/proyecto3/main" routerLinkActive="font-bold text-blue-600" class="btn">Login</a><br>
  <a routerLink="/proyecto3/main2" routerLinkActive="font-bold text-blue-600" class="btn">Bienvenida</a>
  <br><a routerLink="/proyecto3/main2" routerLinkActive="font-bold text-blue-600" class="btn">Consulta Cuerpos Celestes</a>
  <br><a routerLink="/proyecto3/main2" routerLinkActive="font-bold text-blue-600" class="btn disabled">ABM Cuerpos Celestes</a>
  <br><a routerLink="/proyecto3/main2" routerLinkActive="font-bold text-blue-600" class="btn">Consulta Simulaciones</a>
  <br><a routerLink="/proyecto3/main2" routerLinkActive="font-bold text-blue-600" class="btn">ABM Simulaciones</a>
  <br><a routerLink="/proyecto3/main2" routerLinkActive="font-bold text-blue-600" class="btn">Logout</a>
  <br><a routerLink="/proyecto3/main2" routerLinkActive="font-bold text-blue-600" class="btn">ABM Usuario y ROles</a>

</nav>
</html>

