<nav class="navbar">
  <h2>Mi Aplicación Angular</h2>
  <ul>
    <li 
      (mouseenter)="mostrarTooltip($event, 'porfolio')" 
      (mouseleave)="ocultarTooltip()"
    >
      <a routerLink="/proyecto1" routerLinkActive="activo">Porfolio</a>
    </li>
    <li 
      (mouseenter)="mostrarTooltip($event, 'astronomia')" 
      (mouseleave)="ocultarTooltip()"
    >
      <a routerLink="/proyecto2" routerLinkActive="activo">Astronomía</a>
    </li>
  </ul>
</nav>

<div 
  class="tooltip" 
  *ngIf="tooltipVisible" 
  [innerHTML]="tooltipContent"
  [ngStyle]="{'top.px': tooltipY, 'left.px': tooltipX}"
></div>

<hr />

<router-outlet></router-outlet>